.font-size-09{
  font-size: 0.9em;
}

input:focus{
  box-shadow: none !important;
  outline: none !important;
}

.card{
  margin: 30px !important;
}

body{
  background-color: rgb(102, 102, 102);
  color: #fff;
}